*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  background: #fff;
  color: #111;
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
}
